* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
}
button {
  cursor: pointer;
}
body {
  cursor: url(../img/flyswatter.png) 30 30, auto;
  font-family: "Gloria Hallelujah", cursive;
  color: rgb(34, 34, 34);
}
.clear {
  display: none;
}
.game {
  width: 800px;
  height: 500px;
  min-width: 640px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(../img/background.png) no-repeat;
  background-size: cover;
}
.game__header {
  width: 100%;
  height: 50%;
  padding-top: 28px;
  display: flex;
  justify-content: center;
}
.game__field {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}
.game__start-button,
.game__restart-button,
.game__resume-button,
.game__message,
.game__tutorial,
.game__time,
.game__count {
  position: absolute;
}

/* game header */

.game__sound {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 100;
}
.game__sound__on {
  display: block;
}
.game__muted__off {
  display: none;
}
.game__time {
  width: 180px;
  font-size: 26px;
  font-weight: 600;
  border: 5px solid rosybrown;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  padding: 0px 12px;
}
.game__count {
  font-size: 50px;
  font-weight: bold;
  margin-top: 45px;
}
.game__pause {
  display: none;
  width: 50px;
  height: 50px;
  margin-top: 140px;
  font-size: 38px;
  border: none;
  outline: none;
  background-color: transparent;
}

/* game field */
.game__tutorial {
  font-size: 1.8rem;
}
#mosquito {
  position: relative;
  width: 50px;
  animation: popping 800ms ease-in infinite;
  top: 0;
}
@keyframes popping {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@media screen and (max-width: 780px) {
  .tutorial {
    font-size: 1.2rem;
  }
}
.move {
  animation: move 500ms ease-in forwards;
}
@keyframes move {
  from {
    top: 53%;
    left: 30%;
  }
  to {
    top: 3%;
    left: 3%;
  }
}
.game__button {
  padding: 20px;
  top: 68%;
  font-size: 26px;
  border-radius: 15px;
  outline: none;
  border: 5px solid palevioletred;
  transition: transform 300ms ease-in;
}
.game__button:hover {
  transform: scale(1.1);
}
.game__button:active {
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.game__start-button {
  z-index: 12;
  display: block;
}
.game__restart-button {
  z-index: 12;
  display: none;
}
.game__resume-button {
  z-index: 12;
  display: none;
}
.game__message {
  top: 50%;
  color: rgb(43, 64, 226);
  font-size: 2rem;
  font-weight: bold;
}
.game__target-container {
  width: 100%;
  height: 100%;
}

.mosquito:hover {
  transform: scale(1.2);
}
.mosquito {
  transition: transform 150ms;
}
.watermelon {
  position: absolute;
  width: 12%;
  z-index: 9;
}
.mosquito {
  position: absolute;
  width: 6%;
  z-index: 10;
}
.effect {
  position: absolute;
  width: 60px;
  z-index: 20;
}
