* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  cursor: url(../img/flyswatter.png) 30 30, auto;
  font-family: "Gloria Hallelujah", cursive;
}
button {
  outline: none;
  border: none;
}
button:active {
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}
.sound,
.muted {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 100;
}
.sound {
  display: block;
}
.muted {
  display: none;
}

section {
  width: 85%;
  min-width: 640px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

/* .clear {
  display: none;
} */
.bg {
  display: block;
  width: 100%;
  margin: auto;
}
.start__button,
.restart__button,
.clear__message,
.tutorial,
.time,
.count {
  position: absolute;
}
.tutorial {
  font-size: 1.8rem;
  top: 53%;
}
@media screen and (max-width: 780px) {
  .tutorial {
    font-size: 1.2rem;
  }
}
.move {
  animation: move 500ms ease-in forwards;
}
@keyframes move {
  from {
    top: 53%;
    left: 30%;
  }
  to {
    top: 3%;
    left: 3%;
  }
}

.start__button {
  z-index: 11;
  display: block;
  top: 68%;
  width: 100px;
  height: 70px;
}
.restart__button {
  z-index: 12;
  display: none;
  top: 68%;
  width: 100px;
  height: 70px;
}
.clear__message {
  top: 50%;
  color: rgb(43, 64, 226);
  font-size: 2rem;
  font-weight: bold;
}

.time {
  top: 8%;
}
.count {
  top: 20%;
  font-size: 1.5rem;
  font-weight: bold;
}
.target__container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.watermelon {
  position: absolute;
  width: 10%;
  z-index: 9;
}
.mosquito {
  position: absolute;
  width: 4%;
  z-index: 10;
}
.effect {
  position: absolute;
  width: 70px;
  z-index: 20;
}
